<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDOList</title>
  </head>
  <body>


    <%  if (kindofday === "tuesday" || kindofday ==="sunday"){   %>  //markers 
        <h1 style="color: purple"><%=kindofday%>  ToDO List</h1>
    <%  }else{   %>
        <h1><%=kindofday%>  ToDO List</h1>

    <%  }  %>

  </body>
</html>
